packages:
  yum:
    # Example packages you may need on EC2 for building native addons
    gcc: []
    gcc-c++: []
    make: []
    # If using system sqlite client/tools
    sqlite: []
    sqlite-devel: []

# You can also run commands during instance provisioning
commands:
  01_node_version:
    command: "node -v || true"
    ignoreErrors: true

# Optionally install global npm modules (not usually necessary)
# container_commands:
#  01_npm_ci:
#    command: "npm ci --production"
#    cwd: "/var/app/current"
#    leader_only: true
